
/* make the body look glassy */

.body_norm {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image:url(//wallpapercave.com/wp/wp7883320.jpg);
    background-color: #e7f6fb;
    color: rgb(214, 200, 203);
    transition: all;
    transition-duration: 2s;
}

.body_spam{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image:url(https://th.bing.com/th/id/OIP.uOLsZARTmcTp8lnG2c84WQHaEK?pid=ImgDet&rs=1);
    background-color: #e7f6fb;
    color: crimson;
    transition: all;
    transition-duration: 3s;
}
/* Style the header */
nav {
    background-color: rgba(12, 6, 6, 0.5);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the color of links on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}

#intro {
    text-align: center;
    padding: 10px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#intro h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}


#main{
    display: flex;
    justify-content: center;
}

.input-main{
    display: flex;
    background: rgba(172, 159, 159, 0.2); 
    box-shadow: 0 4px 6px rgba(215, 211, 211, 0.2); /* Box shadow for a frosted glass effect */
    padding: 10px;
    margin: 2em;
    border-radius: 2px;
    justify-content: center;
    width: 50%;
}


#form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2px;
    margin: 10px 0;
    gap:5px;
    width: 100%;
    height: 100%;
}

.label{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    margin-bottom: 3px;
    text-align: center;
}

.text-input{
    border-radius: 30px;
    padding: 10px;
    width: 90%;
    margin: 10px 2%;
}

.input-button{
    border: none;
    padding: 2%;
    margin:10px 40%;
    border-radius: 30px;
    background-color: antiquewhite;
}
.text-input:hover{
    border:2px solid rgb(229, 12, 12);

}
.input-button:hover{
    background-color: rgba(172, 159, 159, 0.2);
    cursor: pointer;
    transition: 0.2s;
}

